table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 0 1px grey;
}


body {
	display: inline-block;
    text-align: center;
    margin-left: 26%;
    margin-right: 26%;
    margin-top: 10px;
    background-color: #252839;
}

h1 {
	font-size: 40px;
	display: block;
	text-align: center;
	padding:20px;
	margin-bottom: 10px;
	background-color: #f2b632;
	color:white;
	border-radius: 5px;
}

.color1 {
	background-color: #677077;
	color: white;
	font-size: 60px;
}

.color2 {
	background-color: #b5b5b7;
	color: white;
	font-size: 60px;
}


#resetButton {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: darkorange;
	color: white;
	font-size: 20px;
}

td {
	padding: 60px;
	width: 70px;
	height: 70px;
}


